<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
<% end %>

<script type="text/javascript">
    window.images = {
      hype_small: "<%= image_url('hype_small.png') %>",
      hype_medium: "<%= image_url('hype_medium.png') %>",
      hype_large: "<%= image_url('hype_large.png') %>",
      hype_full: "<%= image_url('hype_full.png') %>",
      hero_1_bw: "<%= image_url('hero_1_bw.jpg') %>",
      hero_1_color: "<%= image_url('hero_1_color.jpg') %>",
      hero_2_bw: "<%= image_url('hero_2_bw.jpg') %>",
      hero_2_color: "<%= image_url('hero_2_color.jpg') %>",
      hero_3_bw: "<%= image_url('hero_3_bw.jpg') %>",
      hero_3_color: "<%= image_url('hero_3_color.jpg') %>",
    }
  </script>
<main id="root"></main>